{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Checkout - BITSMart{% endblock %}

{% block content %}
<div class="container my-4">
    <h2>Checkout</h2>
    
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5>Shipping Information</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success btn-lg">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Order Summary</h5>
                </div>
                <div class="card-body">
                    {% for item in cart.items.all %}
                    <div class="d-flex justify-content-between">
                        <span>{{ item.product.name }} ({{ item.quantity }})</span>
                        <span>${{ item.get_total }}</span>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="d-flex justify-content-between">
                        <strong>Total: ${{ cart.get_total }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}